* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background: #faf8f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Assistant", sans-serif;
  color: rgba(0, 0, 0, 0.8);
}

h1,
h2 {
  font-family: "Source Serif 4", serif;
  color: rgba(0, 0, 0, 0.8);
}

button {
  background: rgba(0, 0, 0, 0.8);
}

.section {
  opacity: 0;
  transform: translateY(1.7rem);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.header {
  display: flex;
  max-width: 100vw;
  justify-content: flex-end;
  align-items: center;
  min-height: 3rem;
  color: rgba(0, 0, 0, 0.9);
  margin-inline: 2rem;
}

.header__name {
  margin-inline-end: auto;
  font-size: 1.1rem;
}

.header__list {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.header__link {
  text-decoration: none;
  color: black;
  transition: 150ms ease;
}

.header__link:hover {
  color: orange;
  border-bottom: 0.5px solid orange;
}

.header__icon {
  display: none;
}

.intro {
  margin-inline: auto;
  margin-block: auto;
}

.intro__research,
.research__contact {
  color: orange;
  text-decoration: none;
}

.intro__research:hover,
.research__contact:hover {
  cursor: pointer;
}

.intro__grid {
  display: grid;
  max-width: 90%;
  min-height: calc(100vh - 3rem);
  grid-template-columns: 1.5fr 2fr;
  justify-content: center;
  align-content: center;
  margin-inline: auto;
  position: relative;
}

.intro__about {
  max-width: 85%;
  justify-self: flex-end;
  align-self: center;
}

.intro__header {
  font-size: clamp(1.5rem, 2.5vw, 2.3rem);
  text-align: center;
  margin-block-end: 1rem;
}

.intro__summary {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  font-size: clamp(1rem, 1.8vw, 1.2rem);
  gap: 1rem;
}

.intro__photo {
  max-width: clamp(20rem, 45vw, 27rem);
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.intro__portrait {
  justify-self: flex-end;
  align-self: flex-end;
}

.intro__linkedin {
  margin-block-start: 1rem;
  text-align: center;
  min-width: 2rem;
}

.intro__icon {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.8);
  transition: color 0.3s ease-in-out;
}

.intro__icon:hover {
  color: orange;
}

.contact {
  max-width: 90%;
  display: flex;
  margin-block-start: 5rem;
  margin-block-end: 2rem;
  /* max-height: 100vh; */
  align-content: center;
  /* justify-content: center; */
  justify-self: center;
  font-size: clamp(1rem, 2vw, 1.2rem);
  margin-inline: auto;
}

.contact__grid {
  display: grid;
  /* min-height: 100%; */
  grid-template-columns: 1fr 2fr;
  margin: 1rem;
  align-content: center;
  gap: 1rem;
}

.contact__container {
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  gap: 1rem;
  margin-inline-start: auto;
}

.contact__header {
  font-size: clamp(2.5rem, 5vw, 4rem);
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  white-space: nowrap;
}

.contact__message {
  max-width: 90%;
  margin-inline: auto;
  min-height: calc(100% - 5.5rem);
  text-align: center;
}

.contact__text {
  line-height: 1.5;
  font-size: 1.1rem;
}

.contact__text--email {
  margin-block-end: 1rem;
}

.contact__email {
  color: orange;
  text-decoration: none;
}

.contact__container--form {
  justify-items: flex-end;
}

.contact__form {
  min-width: 80%;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.contact__form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact__form input,
.contact__form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.contact__form textarea {
  height: 120px;
  resize: vertical;
}

.contact__form button {
  min-width: fit-content;
  padding: 0.7rem 2rem;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.contact__form button:hover {
  background: orange;
}

.research {
  min-height: calc(100vh - 3rem);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-width: 90%;
  margin-inline: auto;
  font-size: clamp(1rem, 2vw, 1.2rem);
  gap: 2rem;
}

.research__welcome {
  max-width: fit-content;
  margin-inline: auto;
  grid-column: span 4;
  font-size: 2rem;
  text-align: center;
}

.research__header {
  font-size: clamp(1.4rem, 3vw, 1.55rem);
  text-align: center;
  margin-inline: auto;
}

.research__header--list {
  font-size: clamp(1.2rem, 1.7vw, 1.3rem);
  margin-block: 1rem;
  font-weight: 700;
}

.research__topic {
  grid-column: span 4;
  max-width: 65%;
  justify-self: center;
  align-content: center;
  background: #fcfcff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 3rem;
}

.research__plan {
  grid-column: span 4;
  max-width: 65%;
  justify-self: center;
  align-content: center;
  background: #fcfcff;
  border-radius: 10px;
  padding: 3rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.research__container {
  gap: 1rem;
  margin-block-start: 1rem;
  line-height: 1.5;
}

.research__summary {
  max-height: fit-content;
}

.research__description {
  margin-block-start: 2rem;
}

.research__closing {
  display: grid;
  grid-column: span 4;
  max-width: 65%;
  justify-content: center;
  margin-inline: auto;
  /* align-self: center; */
  /* margin-inline: auto; */
}

.research__thanks {
  text-align: center;
  max-width: 15ch;
  margin-block-start: 3rem;
  margin-block-end: 1.5rem;
  /* margin-inline: auto; */
}

.research__photo {
  max-width: clamp(5rem, 50vw, 8rem);
}

.footer {
  text-align: center;
}

.footer__text {
  margin-block-end: 1rem;
  color: rgba(0, 0, 0, 0.8);
  transition: color 0.3s ease-in-out;
}

.footer__top {
  text-decoration: none;
}

.footer__text:hover {
  color: orange;
}

.footer__credit {
  font-size: 0.85rem;
  color: rgba(0, 0, 0, 0.5);
  margin-block-end: 1rem;
}

.footer__developer {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer__developer:hover {
  color: orange;
}

@media (width <= 1000px) {
  .research {
    margin-block: 1.5rem;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
  }
  .research__topic {
    margin: 1rem;
    max-width: 85%;
  }

  .research__plan {
    max-width: 85%;
  }

  .research__container {
    display: block;
    font-size: 1.2rem;
  }

  /* .research__topic--responsive {
    min-height: 100%;
  } */
}

@media (width <= 882px) {
  .header {
    margin-inline: 1rem;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-inline: 0.5rem; */
  }

  .header__icon {
    color: rgba(0, 0, 0, 0.8);
    font-size: 2rem;
    background: transparent;
    border: none;
    display: flex;
    max-width: fit-content;
    align-content: center;
    justify-items: center;
    transition: color 0.3s ease-in-out;
  }

  .header__icon:hover {
    cursor: pointer;
    color: orange;
  }

  .header__list {
    flex-direction: column;
    margin-inline-end: 1rem;
    display: none;
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
  }

  .header__list.show {
    opacity: 1;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .header__item {
    margin-inline: 0.5rem;
    font-size: 0.85rem;
    color: orange;
  }

  .intro__grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .intro__portrait {
    margin: 2rem;
    justify-self: center;
    align-self: center;
  }

  .intro__about {
    justify-self: center;
  }

  .intro__icon {
    font-size: 3rem;
  }

  .intro__name {
    font-size: 2.3rem;
  }

  .research {
    margin-block-start: 5rem;
    gap: 2.5rem;
  }

  .research__header {
    font-size: 1.7rem;
  }

  .intro {
    max-height: 100%;
  }

  .intro__text {
    line-height: 1.7;
    font-size: clamp(1.1rem, 3vw, 1.3rem);
    justify-content: space-around;
  }

  .intro__photo {
    max-width: 350px;
  }

  .contact {
    display: flex;
    justify-content: center;
    /* margin-block-start: 2rem; */
  }

  .contact__grid {
    grid-template-columns: 1fr;
    min-width: 100vw;
    justify-content: center;
    gap: 2.5rem;
  }

  .contact__container {
    margin-inline: auto;
    justify-content: center;
    grid-template-rows: 1fr;
  }

  .contact__message {
    margin-inline: 1rem;
  }

  .contact__container--form {
    align-self: center;
    margin-inline: auto;
    min-width: 90%;
  }

  .contact__form {
    justify-self: center;
  }

  .contact__header {
    font-size: 3rem;
  }
}
