:root {
  --font-header: "Newsreader", serif;
  --font-body: "Ysabeau", sans-serif;
  --color-dark: black;
  --color-light: hsl(20, 23%, 97%);
  --color-orange: hsl(38, 95%, 47%);
  --shadow-default: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4));
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  background: var(--color-light);
  font-size: clamp(1rem, 1.5vw, 1.3rem);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-header);
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.section--fade {
  opacity: 0;
  transform: translateY(1.7rem);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.header {
  display: flex;
  max-width: 100vw;
  min-height: 3rem;
  justify-content: flex-end;
  align-items: center;
  margin-inline: 1rem;
  padding-inline: 1rem;
  border-block-end: 0.5px solid var(--color-dark);
}

.header__name {
  margin-inline-end: auto;
  font-size: 1.1rem;
}

.header__list {
  display: flex;
  list-style: none;
  gap: 3rem;
}

.header__link {
  font-family: var(--font-header);
  color: var(--color-dark);
  letter-spacing: 0.05rem;
  text-decoration: none;
  transition: 150ms ease;
}

.header__link:hover {
  color: var(--color-orange);
}

.header__icon {
  display: none;
}

.intro {
  display: flex;
  min-height: calc(100vh - 3rem);
  min-width: 100vw;
  justify-self: center;
  margin-block: auto;
}

.intro__research,
.research__contact {
  color: var(--color-orange);
  text-decoration: none;
}

.intro__research:hover,
.research__contact:hover {
  cursor: pointer;
}

.intro__container--section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 87.5rem;
  justify-content: center;
  align-content: center;
  margin-inline: auto;
  margin-block: auto;
  padding: 1.5rem;
  gap: clamp(2.5rem, 3vw, 5rem);
}

.intro__about {
  justify-self: flex-start;
  align-self: center;
  text-align: justify;
  hyphens: auto;
}

.intro__header {
  margin-block-end: 0.5rem;
  text-align: center;
  font-size: clamp(1.2rem, 2vw, 2.3rem);
}

.intro__summary {
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, 1.5vw, 1.5rem);
  line-height: clamp(1rem, 2.5vw, 2rem);
}

.intro__photo {
  max-width: 100%;
  border-radius: 1.3rem;
  filter: var(--shadow-default);
}

.intro__container--photo {
  max-width: 100%;
  justify-self: center;
  align-self: center;
}

.intro__linkedin {
  margin-block-start: 1rem;
  min-width: 2.5rem;
  text-align: center;
}

.intro__icon {
  font-size: 2rem;
  color: var(--color-dark);
  opacity: 0.8;
  transition: color 0.3s ease-in-out;
}

.intro__icon:hover {
  color: var(--color-orange);
}

.contact {
  max-width: 112.5rem;
  margin-block: 5rem;
  margin-inline: auto;
}

.contact__grid {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  gap: 2.5rem;
}

.contact__container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-block: auto;
  border-radius: 0.4rem;
  gap: 1rem;
}

.contact__header {
  font-size: clamp(2.5rem, 5vw, 4rem);
  text-align: center;
  white-space: nowrap;
}

.contact__message {
  max-width: 90%;
  min-height: calc(100% - 5.5rem);
  margin-inline: auto;
  text-align: center;
  hyphens: auto;
}

.contact__text {
  font-size: 1.1rem;
  line-height: 1.5;
}

.contact__text--email {
  margin-block-end: 1rem;
}

.contact__email {
  color: var(--color-orange);
  text-decoration: none;
}

.contact__container--form {
  min-width: 55%;
}

.contact__form {
  min-width: 90%;
  justify-self: center;
  padding: 1rem;
  background: rgb(250, 250, 250);
  border-radius: 0.5rem;
  filter: var(--shadow-default);
}

.contact__label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.contact__input,
.contact__textarea {
  min-width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 0.4rem;
}

.contact__textarea {
  min-height: 7.5rem;
  resize: vertical;
}

.contact__submit {
  min-width: fit-content;
  padding: 0.7rem 2rem;
  background: var(--color-dark);
  border: none;
  font-size: 1.1rem;
  color: var(--color-light);
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.contact__submit:hover {
  background: var(--color-orange);
}

.research {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 112.5rem;
  padding-block: 5rem;
  margin-inline: auto;
  gap: 2.5rem;
}

.research__header {
  max-width: fit-content;
  margin-inline: auto;
  font-size: clamp(1.2rem, 2.8vw, 2.3rem);
  text-align: center;
}

.research__title {
  max-width: fit-content;
  margin-inline: auto;
  font-size: clamp(1.2rem, 2.8vw, 1.6rem);
  text-align: center;
}

.research__header--list {
  margin-block: 1rem;
  font-weight: 700;
}

.research__section {
  max-width: 75rem;
  align-self: center;
  justify-self: center;
  margin-inline: 1.5rem;
  padding: 3rem;
  background: rgb(252, 252, 255);
  border-radius: 0.5rem;
  filter: var(--shadow-default);
}

.research__container {
  margin-block-start: 1rem;
  line-height: 1.5;
  text-align: justify;
  gap: 1rem;
  hyphens: auto;
  border-block-start: 0.5px solid var(--color-dark);
}

.research__list li::marker {
  font-weight: bold;
}

.research__description {
  margin-block-start: 2rem;
}

.research__closing {
  display: grid;
  grid-column: span 4;
  max-width: 65%;
  justify-content: center;
  margin-inline: auto;
}

.research__thanks {
  max-width: 10ch;
  margin-inline: auto;
  margin-block-start: 3rem;
  margin-block-end: 1.5rem;
  text-align: center;
}

.research__photo {
  max-width: clamp(5rem, 50vw, 8rem);
}

.footer {
  text-align: center;
}

.footer__text {
  margin-block-end: 1rem;
  color: var(--color-dark);
  transition: color 0.3s ease-in-out;
}

.footer__top {
  text-decoration: none;
}

.footer__text:hover {
  color: var(--color-orange);
}

.footer__credit {
  margin-block-end: 1rem;
  opacity: 0.7;
  font-size: 0.75rem;
}

.footer__developer {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

@media (width <= 55rem) {
  .header {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
  }

  .header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header__menu {
    position: relative;
    display: flex;
    width: 2rem;
    height: 1.3rem;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .header__bar {
    display: block;
    height: 0.25rem;
    width: 100%;
    background: var(--color-dark);
    transform-origin: center;
    border-radius: 0.25rem;
    transition: all 0.3s ease;
  }

  .header__menu.open .header__bar:nth-child(1) {
    transform: rotate(45deg) translate(0.3rem, 0.3rem);
  }

  .header__menu.open .header__bar:nth-child(2) {
    opacity: 0;
  }

  .header__menu.open .header__bar:nth-child(3) {
    transform: rotate(-45deg) translate(0.4rem, -0.4rem);
  }

  .header__list {
    z-index: 1;
    position: absolute;
    top: 3rem;
    right: 0;
    display: none;
    flex-direction: column;
    min-width: 100vw;
    min-height: 25vh;
    align-items: end;
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.8);
    gap: 0;
  }

  .header__list.show {
    display: flex;
  }

  .header__item {
    min-width: 100%;
    padding-inline: 1.5rem;
    border-bottom: 0.5px solid var(--color-light);
    text-align: center;
    font-size: 1.5rem;
    transition: background 0.3s;
    pointer-events: visible;
  }

  .header__item:hover {
    background: rgba(0, 0, 0, 0.3);
  }

  .header__item .header__link {
    display: block;
    min-width: 100%;
    padding-block: 2.5rem;
  }

  .header__item:hover .header__link {
    border-bottom: none;
    color: var(--color-light);
  }

  .header__link {
    display: block;
    color: var(--color-light);
    letter-spacing: 0.05rem;
    transition: color 0.3s;
  }

  .intro__container--section {
    grid-template-columns: 1fr;
  }

  .intro__container--photo {
    max-width: clamp(13rem, 50vw, 23rem);
  }

  .intro__photo {
    justify-self: center;
    margin-block-start: 1rem;
    border-radius: 50%;
  }

  .intro__about {
    max-width: 90%;
    justify-self: center;
  }

  .intro__text {
    justify-content: space-around;
    font-size: clamp(1.1rem, 3vw, 1.3rem);
    line-height: 1.7;
  }

  .intro__header {
    margin-block-start: auto;
  }

  .intro__icon {
    font-size: 3rem;
  }

  .intro__name {
    font-size: 2.3rem;
    white-space: wrap;
  }

  .research {
    margin-block-start: 5rem;
    font-size: clamp(1.1rem, 3vw, 1.3rem);
    gap: 2.5rem;
    line-height: 1.7;
  }

  .research__header {
    font-size: 2rem;
  }

  .research__title {
    font-size: 1.7rem;
  }

  .research__list {
    padding-inline-start: 1.5rem;
  }

  .research__topic,
  .research__plan {
    max-width: 85% !important;
    justify-self: center;
    padding: 2rem;
    margin: 1rem;
  }

  .contact {
    justify-self: center;
    margin-inline: auto;
  }

  .contact__grid {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    gap: 2.5rem;
  }

  .contact__message {
    margin-inline: 2rem;
  }

  .contact__container--form {
    min-width: 90%;
    margin-inline: auto;
  }

  .contact__form {
    margin-inline: 1rem;
  }

  .contact__header {
    font-size: 3rem;
  }
}
